<% provide(:title, '首页') %>
<h3><%= image_tag("jianzhu.jpg", alt: "Gu Jianzhu", width: '100%', height: 'auto') %>
<br/>孙明的标题</h3>
<p>徽派建筑是汉族传统建筑最重要的流派之一，徽派建筑作为徽文化的重要组成部分，历来为中外建筑大师所推崇，流行于徽州（今黄山市、绩溪县、婺源县）及严州、金华、衢州等浙西地区。以砖、木、石为原料，以木构架为主。梁架多用料硕大，且注重装饰。还广泛采用砖、木、石雕，表现出高超的装饰艺术水平。徽派建筑最初源于东阳，是江南建筑的典型代表。历史上徽商在扬州、苏州等地经营，徽派建筑对当地建筑风格亦产生了相当大的影响。</p>
