<% provide(:title, '首页') %>
<h1><%= image_tag("jianzhu.jpg", alt: "Gu Jianzhu", width: '100%', height: 'auto') %>
<br/>孙明的标题</h1>
<p>徽派建筑是汉族传统建筑最重要的流派之一，徽派建筑作为徽文化的重要组成部分，历来为中外建筑大师所推崇，流行于徽州（今黄山市、绩溪县、婺源县）及严州、金华、衢州等浙西地区。以砖、木、石为原料，以木构架为主。梁架多用料硕大，且注重装饰。还广泛采用砖、木、石雕，表现出高超的装饰艺术水平。徽派建筑最初源于东阳，是江南建筑的典型代表。历史上徽商在扬州、苏州等地经营，徽派建筑对当地建筑风格亦产生了相当大的影响。</p>

<p>
徽派建筑坐北朝南，注重内采光；以木梁承重，以砖、石、土砌护墙；以堂屋为中心，以雕梁画栋和装饰屋顶、檐口见长。徽商力在经商而不在建筑，衣锦还乡之后，以奢华精致的豪宅园林体现身份，或整修祠堂光大祖宗门面，或亦以牌坊筑立褒奖徽州女人守夫的风骨。徽派建筑讲究规格礼数，官商亦有别。除脱富丽堂皇的徽商巨贾之家外，小户人家的民居亦不乏雅致与讲究。</p>

<%= image_tag("jianzhu.jpg", alt: "Gu Jianzhu", width: '100%', height: 'auto') %>

<p>徽派建筑集徽州山川风景之灵气，融汉族风俗文化之精华，风格独特，结构严谨，雕镂精湛，不论是村镇规划构思，还是平面及空间处理、建筑雕刻艺术的综合运用都充分体现了鲜明的地方特色。尤以民居、祠堂和牌坊最为典型，被誉为徽州古建三绝，为中外建筑界所重视和叹服。</p>

